<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<startup>
		<supportedRuntime
		  version="v4.0"
		  sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<system.serviceModel>

		<bindings>

			<netTcpBinding>

				<binding
				  name="DroneNetTcpBinding"

				  maxReceivedMessageSize="2147483647"

				  sendTimeout="00:10:00"

				  receiveTimeout="00:10:00" />

			</netTcpBinding>

		</bindings>

		<client>

			<endpoint

			  address=
        "net.tcp://localhost:4000/DroneMonitoring/Service"

			  binding="netTcpBinding"

			  bindingConfiguration=
        "DroneNetTcpBinding"

			  contract="Common.IDroneService"

			  name="DroneServiceEndpoint" />

		</client>

	</system.serviceModel>

</configuration>